body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("image5.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    color:white;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(14, 14, 14, 0.932);
    opacity: 0.8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: darkorange;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #fff;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #faad6f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: darkorange;
}
